{% extends "sitepages/base1.html" %}
{% load static %}
{% block homepage_content %}
{% load i18n %}
{% load allauth %}
{% load account %}

<style>
    .card {
        border-radius: 30px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .card-body {
        padding: 2rem;
        text-align: center;
    }

    .form-title {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .form-text {
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    .form-footer {
        margin-top: 2rem;
        font-size: 0.9rem;
        color: #6c757d;
    }
</style>

<!-- Page Header Start -->
<div class="container-fluid page-header">
    <h1 class="display-3 text-uppercase text-white mb-3">Password Reset Done</h1>
    <div class="d-inline-flex text-white">
        <h6 class="text-uppercase m-0"><a class="text-white" href="">Home</a></h6>
        <h6 class="text-body m-0 px-3">/</h6>
        <h6 class="text-uppercase text-body m-0">Password Reset Done</h6>
    </div>
</div>
<!-- Page Header Start -->

<div class="container my-5 p-4" style="height: 500px;">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="form-title">{% trans "Password Reset" %}</h2>

                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}

                    <p class="form-text">
                        {% blocktrans %}
                        We have sent you an email. If you have not received it, please check your spam folder. Otherwise, contact us if you do not receive it in a few minutes.
                        {% endblocktrans %}
                    </p>

                    <p class="form-footer">
                        {% trans "If you need further assistance, feel free to contact our support." %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
