{% extends "sitepages/base1.html" %}
{% load static %}
{% load i18n %}
{% load allauth %}
{% block homepage_content %}

<!-- Page Header Start -->
<div class="container-fluid page-header">
    <h1 class="display-3 text-uppercase text-white mb-3">Password Changed</h1>
    <div class="d-inline-flex text-white">
        <h6 class="text-uppercase m-0"><a class="text-white" href="">Home</a></h6>
        <h6 class="text-body m-0 px-3">/</h6>
        <h6 class="text-uppercase text-body m-0">Password Changed</h6>
    </div>
</div>
<!-- Page Header Start -->
<div class="container my-5 p-4" style="height: 300px;">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div>
    {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}
    {% element p %}
        {% trans 'Your password is now changed.' %}
    {% endelement %}
</div>
</div>
</div>
</div>
{% endblock %}
